.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 8px;

  &__visuals {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;

    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--default-shadow);
  }

  &__show-3d {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--color-white);
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    box-shadow: var(--default-shadow);
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &__price {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--default-shadow);
  }

  &__text {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--default-shadow);
    height: 100%;
    overflow-y: auto;
  }

  &__shops {
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: var(--default-shadow);

    ul {
      list-style: none;
      padding: 0;

      li {
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 2rem;

        img {
          width: 128px;
          object-fit: contain;
          margin-right: 2rem;
        }
      }
    }

    &-distance {
      margin-left: auto;
    }
  }

  &__reviews {
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: var(--default-shadow);

    ul {
      list-style: none;
      padding: 0;

      li {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;

        img {
          width: 128px;
          object-fit: contain;
        }
      }
    }

    &-author {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 1rem;

      h4 {
        margin: 0;
      }
    }

    &-rating {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 824px) {
  .product-details {
    flex-direction: column;
  }
}

.stars {
  position: relative;
  display: inline-block;
  width: 100px; /* width of a single star */
  height: 20px; /* height of a single star */
  background: #ddd;

  -webkit-mask-image: url("/assets/star.svg");
  mask-image: url("/assets/star.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: left center;
  mask-position: left center;
}
