.home_wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  gap: 4px;
  align-items: end;
  color: var(--color-primary);
  font-size: 4rem;
}

p {
  font-size: 2rem;
  margin: 0;
}
