.product {
  --product-card-height: 256px;
  --product-card-width: calc(var(--product-card-height) / 1.382);
  background: #fafffd !important;
  box-shadow: var(--default-shadow);
  height: var(--product-card-height);
  width: var(--product-card-width);

  border-radius: 8px;

  img {
    --product-image-height: calc(var(--product-card-height) / 1.618);
    height: var(--product-image-height);
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    aspect-ratio: var(--product-card-width) / var(--product-image-height);
    object-fit: contain;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
    height: calc(100% - (var(--product-card-height) / 1.618));
    transform: translateY(-3px);

    * {
      text-decoration: none;
    }

    h3 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
    }

    .product__details {
      display: flex;
      justify-content: space-between;

      .product__distance {
        color: var(--color-primary);
      }
    }
  }
}
