.product {
  --product-card-height: 192px;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0.85;
  box-shadow: var(--default-shadow);
  backdrop-filter: var(--default-bg-blur);
  height: var(--product-card-height);
  width: 160px;

  border-radius: 8px;

  img {
    height: calc(var(--product-card-height) / 1.618);
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
    height: calc(100% - (var(--product-card-height) / 1.618));
    transform: translateY(-3px);

    h3 {
      margin: 0;
    }

    .product__details {
      display: flex;
      justify-content: space-between;

      .product__distance {
        color: var(--color-primary);
      }
    }
  }
}
