header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-white);
  height: 64px;
  padding: 0 32px;

  box-shadow: 0px 3px 16px 1px rgba(50, 213, 144, 0.16);
  backdrop-filter: blur(12px);

  border-radius: 0px 0px 8px 8px;
}
