@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary: 110, 107, 230;
  --white: 250, 255, 253;

  --color-primary: rgb(var(--primary));
  --color-white: #fafffd;
  --color-white-frosted: rgba(var(--white), 0.5);
  --color-background: rgb(var(--white));
  --color-font: #3e3e3e;

  --default-bg-blur: blur(12px);

  --default-shadow: 0px 2px 8px rgba(var(--primary), 0.2);

  --header-height: 48px;
}

body {
  background-color: var(--color-background);
  font-family: "Work Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  color: var(--color-font);
  caret-color: var(--color-primary);
}

main {
  padding: 32px 64px;
  min-height: calc(100vh - 48px);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

a {
  color: var(--color-primary);
}

.logo {
  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: 400;
}

.primary {
  color: var(--color-primary);
}
